*,
html{
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } */
  
  header {
    /* margin-top: 4px; */
    background-color: red;
    background-image: url('https://img.freepik.com/free-vector/holy-kaaba-mecca-saudi-arabia-hand-drawn-sketch-vector-illustration_460848-10337.jpg?w=1060&t=st=1673424016~exp=1673424616~hmac=aa6fe1e06bdecf5ce534c28eeb54aa26cfa9ba70ec1fe9bae5b3290dc82538a7');
    background-size: cover; 
    background-position: center; 
    text-align: center;
    height: 100vh;
  }
    header h1 {
    font-family: Aref Ruqaa;
    text-align: center;
    position: relative; /*tambahkan properti ini
    /* z-index: 100; tambahkan properti ini */
    color: #FFC107;
    font-size: 2em;
    margin: 0;
    font-weight: bold; /*tebal teks */
    text-transform: uppercase; /*huruf besar*/
    background-color: #333333; 
  }
  
  .nav-container {
    position: fixed;
    width: 100%;
    padding-left: 20px;
    background-color: #333333;
    font-size: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    list-style: none;
    z-index: 10;
  }

  .nav-container .nav-brand{
    float: left;
  }

  .nav-container .nav-brand a{
    text-decoration: none;
    color: #FFC107 !important;
  }

  .nav-container .nav-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: auto;
  }

  .nav-container .nav-list a{
    font-size: 18px;
    padding: 0px 30px;
    color: white;
    margin-left: auto;
    text-decoration: none;
  }
  
  .shape-divider {
    position: absolute;
    top: 4vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .shape-divider svg {
      position: relative;
      display: block;
      width: calc(123% + 1.3px);
      height: 180px;
  }

  .shape-divider .shape-fill {
      fill: #333333;
  }
  
  main {
    display: flex;
    flex-direction: column; /* ubah ke column agar element section berurutan dari atas ke bawah */
    align-items: center;
    margin: 0px;

  }
  
  section {
    width: 100%;
    height: 50rem;
    /* border: 1px solid lightgrey; */
    /* border-radius: 5px; */
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  
  section h2 {
    margin: 0;
  }
  
  section table {
    width: 100%;
    border-collapse: collapse;
  }
  
  section th, section td {
    border: 1px solid lightgrey;
    padding: 10px;
    text-align: left;
  }
  
  section th {
    background-color: #FFC107;
    color: white;
  }
  
  section form {
    display: flex;
    flex-direction: column;
  }
  
  section label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  section input[type="text"],
  section textarea {
    width: 80%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  section#intro {
    background-image: url('https://images.unsplash.com/photo-1625236466493-72842ceec47b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    /* height: 50vh; */
    /* padding: 50px; */
  }
  
  section#itinerary {
    height: 50vh;
    background-image: url('https://images.unsplash.com/photo-1515854444493-2c337cf5cfd0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    /* padding: 20px; */
  }
  
  section#pricing {
    background-image: url('https://images.unsplash.com/photo-1572252009286-268acec5ca0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    /* padding: 20px; */
  }
  
  section#faq {
    background-image: url('https://images.unsplash.com/photo-1540866225557-9e4c58100c67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dW1yYWh8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
    color: white;
    /* padding: 20px; */
  }

  section#contact {
    background-image: url('https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    /* padding: 20px; */
  }

  section input[type="submit"] {
    background-color: #FFC107;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: auto;
  }